/*#-=FONTS=-###############################################################*/

@font-face {
  font-family: 'Norse';
  src: url('fonts/Norse.woff2') format('woff2'),
      url('fonts/Norse.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Norse';
  src: url('fonts/Norse-Bold.woff2') format('woff2'),
      url('fonts/Norse-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@import url(https://fonts.bunny.net/css?family=bree-serif:400);

/*#########################################################################*/

/*#-=CSS_RESET=-###########################################################*/

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/*#########################################################################*/

/*#-=GLOBAL_RULES=-########################################################*/

:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, 
               Arial, sans-serif, "Apple Color Emoji", 
               "Segoe UI Emoji", "Segoe UI Symbol";
}

body,  
.img_div,
.logo_bkg,
.fields_container,
.sgn_up_form .field{
  display: flex;
  flex-direction: row;
}

/*#########################################################################*/

/*#-=L_SIDEBAR_RULES=-#####################################################*/

/*-=MULTI_ELEMENT RULES=-----------------------------------*/
.img_div, 
.img_div .logo_bkg{
  justify-content: center;
  text-align:center;
} 


/*-=IMG CONTAINER & IMAGE=---------------------------------*/
.img_div{
  position: relative;
  height: auto;
  width: 30vw;    
}

.img_div .bkg_img{
  height: 100vh;
  width: 30vw;
}


/*-=TRANSPARENT BLACK BAND=--------------------------------*/
.img_div .logo_bkg{
  position: absolute;
  top: 25vh;

  align-items: center;
  overflow: hidden;

  height: clamp(4vw, 18rem + 2vh, 20vw);
  width: 100%;
  background-color: #0b0e1099;
}


/*-=BANNER AND LOGO=---------------------------------------*/
.logo_bkg .logo_bnr{
  font-family: "Norse", var(--system-ui);
  font-size: clamp(4vw, 10rem + 2vh, 10vw);
  font-weight: 900;

  color: white;
}


.logo_bkg .odin_logo{
  height: clamp(calc(8rem + 2.5vw), 16rem, 2rem);
  width: auto;
}


/*-=IMAGE CREDITS=-----------------------------------------*/
.img_div .credits, 
.img_div .credits > a{
  color: #FFFFF0bb;
}

.img_div .credits{
  position: absolute;
  bottom: 2vh;

  font-size: clamp(.75vw, 1rem + 0.5vh, 2.5vw);
}

/*#########################################################################*/

/*#-=CONTENT_RULES=-#######################################################*/

/*-=MULTI_ELEMENT RULES=-----------------------------------*/
.content_div .bait, 
.content_div .sgn_up_form>.form_label{
  font-size: clamp(1vw, 3rem, 2vw);
  line-height: clamp(1vw, 3.5rem, 2vw);  
}

.content_div .submit_button, 
.content_div .login{
  font-size: clamp(1vw, calc(2rem + .2vw), 2vw);
  line-height: clamp(1vw, calc(1rem + .5vw), 2vw);
}

.content_div > p, 
.content_div .bait,
.content_div .submit_button,
.sgn_up_form .fields_container,
.content_div .sgn_up_form>.form_label{
  margin-left: 3vw;
}

.login_lnk,
.content_div .bait,
.content_div .login,
.content_div .submit_button,
.content_div .sgn_up_form>.form_label{
  font-family: 'Bree Serif', var(--system-ui);
}

/*-=CONTENT CONTAINER=-------------------------------------*/
.content_div{
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 70vw;
  background-color:#F9FAFB;
}


/*-=BAIT PARAGRAPH=----------------------------------------*/
.content_div .bait{
  margin-top: calc(20vh - 2rem);
  margin-bottom: 7vh;
}


/*-=FORM CONTAINER=----------------------------------------*/
.content_div .form_container{
  padding-top: 20px;

  width: 100%;
  height: fit-content;

  overflow: scroll;

  background-color: #FFFFFF;
  box-shadow: 10px 5px 15px rgb(0 0 0 / 20%);
}

.content_div .form_container::-webkit-scrollbar {
  display: none;
}


/*-=SUBMIT BUTTON=-----------------------------------------*/
.content_div .submit_button{
  padding: clamp(.5vw, 1rem, .75vw);
  margin-top: 3vh;
  margin-bottom: 4vh;

  height: auto;
  width: fit-content;

  color: #FFFFF0;
  background-color: #944101;
  border: solid 2px transparent;
  border-radius: 15px;
}

.content_div .submit_button:hover{
  background-color: #F7652A;
}


/*-=LOGIN LINK=--------------------------------------------*/
.login_lnk{
  text-decoration: none;

  font-weight: 600;
  color:#944101;
}

.login_lnk:hover{
  color:#F7652A;
}


/*-=INPUT FIELDS & their CONTAINER=------------------------*/
.sgn_up_form .fields_container{
  flex-wrap: wrap;
  flex-shrink: none;
  
  justify-content: space-between;
  align-content: space-around;
  gap: 15px;

  height: fit-content;
  width: 50%;

  margin-top: 10px;
  background-color: transparent;
}

.fields_container::-webkit-scrollbar {
  display: none;
}

.sgn_up_form .field{
  flex-direction: column;

  height: 140px;
  width: 600px;

  border: 2px solid transparent;
  background-color: transparent;
  color: black;
}

/*-=FORM INPUTs & THEIR LABELs=----------------------------*/
.sgn_up_form .input_label{
  font-family: 'TT2020G', var(--system-ui);
  font-size: 1.5rem;
  letter-spacing: .3rem;

  margin-bottom: 2px;
}

.sgn_up_form input{
  font-family: 'Bree Serif', var(--system-ui);
  font-size: 2.2rem;
  padding: 20px;

  height: 3.8rem;
  width: 100%;

  border: 3px solid #E5E7EB;
  border-radius: 5px;
}

.sgn_up_form input:focus{
  border: 3px solid blue;
  box-shadow: 10px 5px 15px rgb(0 0 0 / 20%);
}

.sgn_up_form input:user-invalid{
  border: 3px solid red;
}

/*#########################################################################*/

